h1,h2,h3,h4,h5{
font-family: 'Redressed', cursive;
color: crimson;
}
.saleslink{
font-size:40px;
color: brown;
}
.logoimg{
float: right;
width: 400px;
}
header{
background-color: coral;
}
body{
background-color: cornflowerblue;
}
ul li{
margin: 5px;
background-color: darkorange;
color:darkmagenta;
font-family:Arial, Helvetica, sans-serif;
}