h1,h2,h3,h4,h5{
font-family: 'Redressed', cursive;
color: crimson;
}
.saleslink{
font-size:40px;
color: brown;
}
.logoimg{
float: right;
width: 400px;
}
header{
background-color: coral;
}
body{
background-color: rgb(167, 255, 233);
}
ul li{
margin: 5px;
background-color: darkorange;
color:darkmagenta;
font-family: 'Dancing Script', cursive;
}
table, th, td {
    border: 1px solid black;
  }
.locationsAddresses{
  font-size:larger;
  color: yellowgreen;
}
.locationsAddresses span{
  color:royalblue;
}
.img{
  width: 150px;
  height: 150px;
  margin:50px;

}
.famImg{
  margin-left:50px;
}
.imgs{
  text-align: center;
}
fieldset{
  text-align: center;
  border: 6px solid red;
  width: 50%;
}
legend{
  font-size:30px;
  font-family: 'Redressed', cursive;
}
input{
  width: 80%;
}
p{
  font-family:Arial, Helvetica, sans-serif;
}
a{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:crimson;
}
img{
  border: solid blueviolet 3px;
}