h1,h2,h3,h4,h5{
font-family: 'Redressed', cursive;
color: crimson;
}
.saleslink{
font-size:40px;
color: brown;
}
.logoimg{
float: right;
width: 400px;
}
header{
background-color: coral;
}
body{
background-color: cornflowerblue;
}
ul li{
margin: 5px;
background-color: darkorange;
color:darkmagenta;
font-family:Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid black;
  }
.locationsAddresses{
  font-size:larger;
  color: yellowgreen;
}
.locationsAddresses span{
  color:royalblue;
}
.img{
  width: 150px;
  height: 150px;
  margin:50px;

}
.famImg{
  margin-left:50px;
}
.imgs{
  text-align: center;
}